/* =========================
   RESET CSS
========================= */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    color: #222;
    background-color: #fff;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol,li {
    list-style: none;
}


button,
input,
textarea,
select {
    font: inherit;
    border: none;
    outline: none;
}

button {
    background: none;
    cursor: pointer;
}

input,
textarea {
    width: 100%;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

section {
    scroll-margin-top: 80px;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}